root = "."

tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/app.exe ./cmd/api"
  entrypoint = "./tmp/app.exe"
  delay = 200
  exclude_dir = ["tmp", "vendor"]
  include_ext = ["go", "tpl", "tmpl", "html", "sql"]
  stop_on_error = true

[log]
  time = true

[color]
  main = "yellow"
  watcher = "cyan"
  build = "green"
  runner = "magenta"

[misc]
  clean_on_exit = true
